<div class="container-fluid backfooter">
    <div class="row pie">
        <div class="col-md-3 contineredes">
            <div class="contred">
                <a href="https://www.facebook.com/AbejasUGTO" target="_bank"><img src="/Imagenes/Facebook.png" alt="Facebook" style="width: 39px; height:38px"></a>
            </div>
            <div class="contred">
                <a href="https://twitter.com/UdeGuanajuato" target="_bank"><img src="/Imagenes/Twitter.png" alt="Twitter" style="width: 39px; height:38px"></a>
            </div>
            <div class="contred">
                <a href="http://www.youtube.com/televisionug" target="_bank"><img src="/Imagenes/Youtube.png" alt="Youtube" style="width: 39px; height:38px"></a>
            </div>
            <div class="contred">
                <a href="https://instagram.com/udeguanajuato" target="_bank"><img src="/Imagenes/Instagram.png" alt="Instagram" style="width: 39px; height:38px"></a>
            </div>
        </div>
        <div class="col-md-6 direccion">
            <p style="text-align: center;">Fraccionamiento 1; Col. El Establo S/N; C.P. 36250</p>
            <p style="text-align: center;">Guanajuato, Gto., México</p>
            <p style="text-align: center;">Tel: +52 (473)  732 00 06</p>
            <p style="text-align: center;">hazdeporteug@ugto.mx</p>
        </div>
        <div class="col-md-3">
            <p><img src="/Imagenes/premio.jpg" alt="premio-internacional-editorial-ox" style="margin-right: auto; margin-left: auto; display: block;"></p>
        </div>
    </div>
</div>