<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Registrarse</h3>
                </div>
                <div class="card-body">
                    <form action="/ADMN/signup" method="POST">
                        <div class="form-grop mb-3">
                            <input type="text" name="NUE" placeholder="NUE" class="form-control" autofocus value="{{NUE}}">
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" name="Nombre" placeholder="Nombre" class="form-control" value="{{Nombre}}">
                        </div>
                        <div class="form-group mb-3">
                            <input type="email" name="Correo" placeholder="Correo UG" class="form-control" value="{{Correo}}">
                        </div>
                        <div class="form-group mb-3">
                            <input type="password" name="Contraseña" placeholder="Contraseña" class="form-control">
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-success">
                                Registrarse
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>